:root {
  --body-font: "Montserrat", sans-serif;
  --headline-font: "Overpass", sans-serif;
  --Primary-color: #3facde;
  --Secondary-color: #424a1c;
  --accent1-color: #ffffff;
  --accent2-color: #067bdb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: auto;
}
hi, h2 {
    font-family: var(--headline-font);
    color: var(--Primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
  position: relative; 
  height: 400px;       
}

.hero img.hero-img { /**The image should be large enough to fill the space without being pixelated or distorted because its intrinsic size is too small to fill the space.
We use height auto in order to maintain the aspect ratio of the image based upon the given width, in this case, 100% of the container.**/
  width: 100%;
  height: auto;
  display: block;
}
hi {
    position: absolute;
    top: 20px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000;
}
.article {
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.6); /* translucent dark background */
    color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;

}
.hero article img {
    float: right;
    width: 125px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}


